@charset "EUC-KR";

*{
	border:3px solid black;

}

h1{
	color : red;
	background: black;
	

}
#firstH1{
	color : red;
	background: blue;

}
.c{
	color:red;
	background: white;
		

}
input[type="text"]{
	background: yellow;
}