@charset "EUC-KR";


@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');


	div{
		border : 1px solid black;
	}
	
	#div1 > h3{
		color: red;
	}
	
	#div2 > h3{
		color:blue;
	}
	
	#div2 > div> h3 {
		color: green;
	}
	
	a{
		text-decoration : none;
		
	}
	
	input:hover{
	background: gray;
	border:1px solid black;
}
	a:hover{
	
		background:blue;
		color:yellow;
		
	
	
	}
	
	h3:nth-child(2n){
		color:#CC3D3D;
		font-family:"Courier New",Times,serif;
		
	}
	h3:nth-child(2n+1){
		color:blue;
	}
	
	
	h3:nth-child(4)){
	color : red;
	}
	
	div > h3:nth-child(4){
		color : red;
	}
	
	h3{
		text-align: center;
		font-family: 'Sigmar One', cursive;
		font-size: 150%;
		line-height: 200px;
		height:200px;
		border:1px solid black;
	}
	
	
	
	/* 아랫 layer를 찾을 때 >  */
	
	